@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap');


:root{
  --prussian: #182A40;
  --steel: #5A7D9D;
  --pearl: #EAE0CC;
  --pale: #C9ADA1;
  --sage: #A0A083;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  
  body {
    
    -webkit-font-smoothing: antialiased;

    font-family: 'MedievalSharp';
    
    font-size: 62.5%;

    background-color: var(--prussian);

  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* ---------------------------------------------------------- */

header{
  display: flex;
  justify-content: center;

  padding: 1rem 0;
}
header > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
header p{
  color: var(--steel);
  font-size: 4rem;
  font-weight: 900;
}
header img{
  align-self: center;
  height: 200px;
  width: auto;
}

header svg{
  height: 4rem;
  width: 4rem;

  color: var(--steel);

  margin-top: 1rem;

  cursor: pointer;
}

header svg:hover{
  animation: emphacise 0.2s ease forwards ;
}

@keyframes emphacise {
  0% {color: var(--steel);}
  100% {color: var(--sage);}
}

header svg:not(:hover) {
  animation: deEmphrasis 0.2s ease forwards ;
}

@keyframes deEmphrasis {
  0% {color: var(--sage);}
  100% {color: var(--steel);}
}

main{
  display: flex;
  justify-content: center;}

.card-grid{
  justify-self: center;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 10px;

  padding-top: 1rem;

  min-width: 400px;
  max-width: 1220px;
}

.card{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 400px;
  height: 200px;

  background-color: var(--sage);

  border-radius: 15px;

  padding: 10px;

  user-select: none;

  cursor: pointer;
}

.card h3{
  font-size: 2.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


  width: 350px;
  text-align: center;
}
.card h3:hover{
  overflow:visible;
}

.card p:nth-child(2){
  font-size: 1.5rem;
  font-weight: 500;

  line-clamp: 3;

  width: 350px;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;
}
.card p:nth-child(3){
  font-size: 1.5rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.card div:nth-child(4){
  position: absolute;
  color: rgb(114, 68, 68);
  bottom: 15px;
  right: 15px;
}
.card div:nth-child(5){
  position: absolute;
  color: var(--pearl);
  bottom: 15px;
  right: 40px;
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */
dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the dialog */
  
  border-radius: 10% 10% 30% 30% / 10% 10% 50% 50% ;

  background-color: var(--sage);
  backdrop-filter: blur(2px);

}

/* .dialog-blur{
  backdrop-filter: blur(2px);
} */

.new-project{
  display: flex;
  
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2rem;

}

.new-project div{
  display: flex;
  gap: 2rem;

}
.new-project h2{
  font-size: 3rem;
  font-weight:900;
  /* margin-bottom: 2rem; */
}

.new-project div label{
  font-size: 2rem;
  border-radius: 15px;
  width: 11rem;
}

.new-project input, .new-project textarea{
  width: 17rem;
  font-size: 2rem;
  text-indent: 0.5rem;
  border-radius: 15px;
  padding: 5px 0;
}

.new-project div:nth-child(5){
  /* align-self: center; */
  margin-bottom: 6rem;

  display: flex;
  justify-content: center;  
}

.new-project button{
  margin-top: 2rem;
  font-size: 2rem;

  border-radius: 15px;
  padding: 0.5rem 2rem;
}