/* @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Rye&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');
:root{
  --prussian: #182A40;
  --steel: #5A7D9D;
  --pearl: #EAE0CC;
  --pale: #C9ADA1;
  --sage: #A0A083;
  --delete: #724444;

}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
  }
  
  
  body {
    
    -webkit-font-smoothing: antialiased;

    font-family: 'Montserrat';
    
    font-size: 62.5%;

    background-color: var(--prussian);

  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* //////////////////////////////////GLOBALS////////////////////////////////////////// */
svg{
  transition: all 0.1s ease-in;
}
button{
  user-select: none;
}
button:hover{
  filter: brightness(2);
}
button:active{
  transform: scale(0.98);
}
Dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;

  border: none;
  outline: none;
  animation: popIn 0.1s ease-in;
  
  background-color: transparent;
}

dialog::backdrop {
  background: #0000009f;
}
/* //////////////////////////////////////////////// */
header{
  display: flex;
  justify-content: center;

  padding: 1rem 0;

  user-select: none;
}
header > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
header h1{
  color: var(--steel);
  font-size: 4rem;
  font-weight: 900;
}
header img{
  align-self: center;
  height: 200px;
  width: auto;
}

header svg{
  height: 4rem;
  width: 4rem;

  color: var(--steel);

  margin-top: 1rem;

  cursor: pointer;
}

header svg:hover{
  animation: emphacise 0.2s ease forwards ;
}

@keyframes emphacise {
  0% {color: var(--steel);}
  100% {color: var(--sage);}
}

header svg:not(:hover) {
  animation: deEmphrasis 0.2s ease forwards ;
}

@keyframes deEmphrasis {
  0% {color: var(--sage);}
  100% {color: var(--steel);}
}

header > div > div {
  display: flex;
  gap: 20px;
}

header > div > div > button{

  font-size: 1.5rem;
  color: var(--prussian);

  margin-top: 1.5rem;
  background-color: var(--steel);

  /* border-radius: 15px; */

  padding: 10px;

  user-select: none;

  cursor: pointer;

  /* box-shadow: inset var(--sage) 3px 3px 4px 1px, inset var(--prussian) -2px -2px 6px 0px; */

  font-weight: 900;
  border-color: var(--steel);

  border: none;
  /* border-radius: 50%;   */
  height: 150px;
  width: 150px;

  transition: all 0.1s ease-in;
}

header > div > div > button:nth-child(1){
/* border-radius: 50% 0% 0% 50% / 50% 50% 50% 50% ; */
border-radius: 50%;
box-shadow: inset var(--sage) 3px 3px 4px 1px, inset var(--prussian) -2px -2px 6px 0px;
}
header > div > div > button:nth-child(2){
/* border-radius: 0% 50% 50% 0% / 0% 50% 50% 0% ; */
border-radius: 50%;
box-shadow: inset var(--sage) -3px 3px 4px 1px, inset var(--prussian) 2px -2px 6px 0px;
}

button{
  transition: all 0.1s ease-in;
}


main{
  display: flex;
  justify-content: center;
}

.card-grid{
  justify-self: center;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 15px;

  padding-top: 1rem;

  min-width: 400px;
  max-width: 1300px;

}

.card{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  width: 400px;
  height: 200px;

  background-color: var(--sage);

  border-radius: 15px;

  padding: 10px;

  user-select: none;

  cursor: pointer;

  /* border: 5px double var(--prussian); */

  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;

  font-weight: 600;

  transition: all 0.1s ease-in;

  
}
.card:hover{
  filter:brightness(1.5);
}

.card h2{
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


  width: 350px;
  text-align: center;
}


.card p:nth-child(2){
  font-size: 1.5rem;
  font-weight: 500;

  width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: wrap;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  
}
.card p:nth-child(3){
  font-size: 1.5rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;


}

.card div:nth-child(4){
  position: absolute;
  color: var(--delete);
  bottom: 15px;
  right: 15px;
  transition: all 0.1s ease-in;
}
.card div:nth-child(4):hover{
  transform: scale(1.5);
}

.card div:nth-child(5){
  position: absolute;
  color: var(--pearl);
  bottom: 15px;
  right: 40px;
}

.all-taskList{
  display: none;
  flex-direction: column;
  background-color: red;
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */


@keyframes popIn {
  0% {opacity: 0;}
  100% {opacity: 1;}

  
}

.new-project{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%); 

  padding: 2rem;

  /* border: 5px double var(--prussian); */

  border-radius: 15px;

  background-color: var(--sage);

  /* max-width: 600px; */
  /* min-width: 400px; */
  
  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;

}

.new-project div{
  display: flex;
  gap: 2rem;
  /* flex-direction: column; */

}

.new-project h2{
  font-size: 3rem;
  font-weight:900;
  margin-bottom: 1rem;
  text-align: center;
}

.new-project div label{
  font-size: 2rem;
  font-weight: 500;
  border-radius: 15px;
  width: 11rem;
}

.new-project div label, .new-project h2{
  user-select: none;

}

.new-project input, .new-project textarea{
  width: 17rem;
  font-size: 2rem;
  text-indent: 0.5rem;
  border-radius: 15px;
  padding: 5px 0;

  background-color: var(--pearl);

}



.new-project div:nth-child(5){
  display: flex;
  justify-content: center;  

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.new-project button{
  font-size: 2rem;
  font-weight: 900;

  border-radius: 15px;
  padding: 0.5rem 2rem;

  border:none;
  outline: none;
}

.new-project button:nth-child(1){
  background-color: var(--steel);
  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;
}
.new-project button:nth-child(2){
  background-color: var(--sage);
  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;
}

.projectContent{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%); 

  padding: 3rem 1.5rem;

  border-radius: 15px;

  background-color: var(--sage);

  min-width: 400px;
  min-height: 400px;

  min-width: 400px;

  animation: popIn 0.1s ease-in;

  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;


}

.projectContent > h3{
  font-size: 2.5rem;
  user-select: none;
  text-align: center;
}

.projectContent > svg:nth-child(2){
  position: absolute;
  right: 10px;
  top: 10px;

  width: 40px;
  height: 40px;
  color: var(--prussian);
}

/* .projectContent > svg:last-child{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;

  width: 70px;
  height: 70px;
  color: var(--prussian);
} */
.projectContent > button:last-child{
  font-size: 1.2rem;
  color: var(--prussian);

  background-color: var(--steel);

  user-select: none;

  cursor: pointer;

  box-shadow: inset var(--pearl) 3px 3px 4px 1px, inset var(--prussian) -2px -2px 6px 0px;

  font-weight: 900;

  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;

  transition: all 0.1s ease-in;
}
.projectContent > svg:hover{
  color: var(--pearl);
  cursor: pointer;
  
}

.taskList{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* width: 100%; */
  /* max-width: 800px; */


  margin-bottom: 1rem;

  user-select: none;
}
.taskList > div{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;
  
  width: 600px;
  min-height: 50px;

  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;
  border-radius: 20px;
  padding: 0.5rem 0;

  cursor: pointer;

  transition: all 0.1s ease-in;


}

.taskList > div > div p:nth-child(2){
  width: 370px;
  text-wrap: wrap;
}
.taskList > div > div p:nth-child(3){
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--prussian);

  /* justify-self: end; */
  /* width: 400px; */
  text-wrap: nowrap;
  /* padding: 0 0.5px; */

}

.taskList > div > div{
  display: flex;
  gap: 5px;
}
.taskList > div > div:nth-child(1){
  width: 85%;
}

.taskList > div > div:nth-child(1) >div:nth-child(1){
  display: flex;
  align-items: center;
  margin-left: 10px;

  width: 24px;
  transition: all 0.1s ease-in;
}
.taskList > div > div:nth-child(1) >div:nth-child(1):hover{
  transform: scale(1.3);
}

.taskList > div > div:nth-child(2){
  width: 80px;

}
.taskList > div > div:nth-child(2) div:nth-child(1){
  color: var(--prussian);
  transition: all 0.1s ease-in;
}

.taskList > div > div:nth-child(2) div:nth-child(2){
  color: var(--delete);

  transition: all 0.1s ease-in;

}

.taskList > div > div:nth-child(2) div:hover{
  transform: scale(1.3);

}

.taskList >div:not(form):hover{
  filter: brightness(1.3);
  text-shadow: 1px 1px 2px var(--pearl);
}


.editTask {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  font-size: 1.5rem;

  height: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.editTask > input:nth-child(1){
  width: 75%;
  /* height: 50px; */
  font-size: 1.5rem;
  text-indent: 0.5rem;
  border-radius: 10px;
  
}
.editTask > button{
  display: flex;
  background-color: transparent;
  border: none;

}



.projectContent .taskList > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  margin-top: 1rem;

  animation: popIn 0.1s ease-in;

  /* border: 1px solid var(--prussian); */
  /* box-shadow: 0 0 5px 1px var(--prussian); */
  box-shadow: inset var(--pearl) 3px 3px 6px 1px, inset var(--prussian) -2px -2px 6px 0px;
  border-radius: 10px;
  padding: 1rem 0.5rem;

}
@keyframes popIn {
  0% {opacity: 0;}
  100%{ opacity: 1;}
  
}
.projectContent .taskList > form > div:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.projectContent .taskList > form > div >input:nth-child(1), .projectContent .taskList > form > div >input:nth-child(2){
  width: 90%;
  align-self: center;
  font-size: 2rem;
  text-indent: 0.5rem;

  border-radius: 15px;
  padding: 5px 0;

  background-color: var(--pearl);

  
}
.projectContent .taskList > form > div:nth-child(1) >input:first-child::placeholder{
  text-align: center;
}
.projectContent .taskList > form > div:nth-child(1) >input:nth-child(2){
  
  text-align: center;
}

.projectContent .taskList > form > div:nth-child(2){
  display: flex;
  gap: 25px;
  padding: 5px 20px;

  /* margin-bottom: 3rem; */
}

.projectContent .taskList >form > div:nth-child(2){

  border-radius: 10px;
}

.projectContent .taskList > form button {
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;

  cursor: pointer;
  
  
}
/* .projectContent .taskList > form button:nth-child(1) {
  
box-shadow:  0 0 11px 5px var(--sage), var(--prussian) 3px 3px 6px 5px,  var(--pearl) -2px -2px 6px 8px;
background-color: var(--pr);
}
.projectContent .taskList > form button:nth-child(2) {
  box-shadow:  0 0 11px 5px var(--sage), var(--prussian) 3px 3px 6px 5px,  var(--pearl) -2px -2px 6px 8px;
} */



.projectContent .taskList > form button svg{
  height: 50px;
  width: 50px;
}

.projectContent .taskList > form button:nth-child(1) > svg{
  color: var(--prussian);
}
.projectContent .taskList > form button:nth-child(2) > svg{
  color: var(--pearl);
  
}


.priorityRadio{
  display: flex;
  align-items: center;
  justify-content: space-between;

  align-self: center;
  /* grid-template-areas:  "title title title"
                        "low mid high"; */

  width: 90%;
  /* background-color: red; */
}
.priorityRadio h4:nth-child(1){
  /* grid-area: title; */
  display: flex;
  align-items: center;

  font-size: 2rem;
  font-weight: 500;

  padding-bottom: 7px;
}

.priorityRadio > div{
  display: flex;
  border-radius: 50px;
}
.priorityRadio > div > input{
  cursor: pointer;
  height: 40px;
  width: 40px;
  align-self: none;
}

.priorityRadio > div:nth-child(2){

  box-shadow:  0 0 11px 5px yellow, var(--prussian) 3px 3px 6px 5px,  var(--pearl) -2px -2px 6px 8px;;
}

.priorityRadio div:nth-child(3){
  box-shadow:  0 0 11px 5px orange, var(--prussian) 3px 3px 6px 5px,  var(--pearl) -2px -2px 6px 8px;
}
.priorityRadio div:nth-child(4){
  box-shadow:  0 0 11px 5px red ,var(--prussian) 3px 3px 6px 5px,  var(--pearl) -2px -2px 6px 8px;
  
}

/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */
@media screen and  (max-width: 600px){
  /* .projectContent{
    padding: 0rem;
  } */
  .new-project div{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin-bottom: 10px;
  }

  .new-project div:nth-child(5){
    gap: 10px;

    margin-top: 1rem;
    margin-bottom: 10px;

    flex-direction: column;
    justify-content: center;  
    align-items: center;
  }

  .taskList{
    
    max-width: 400px;
    

  }
  .taskList > div{
    width: 400px;
  }
  .taskList p{
    
    width: 255px;
    text-wrap: wrap;
  
    
  
  }
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////// */